NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXdhcmUtd3Jlbi0xNy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_XHPPLvejeyfe533iyPBz6RXSlzGD72yPbcS707cBBt
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_HsBuov5bXD-fvGcOAeuySQ_2TDLXQDT
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvdXdmY2FicmxzbXVid2N4enRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxMzI3MTAsImV4cCI6MjA4ODcwODcxMH0.2mZd-VngqyOA_iy1Q7pj0gWcEgs0Cg_EKOjiV1ouBLM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvdXdmY2FicmxzbXVid2N4enRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzEzMjcxMCwiZXhwIjoyMDg4NzA4NzEwfQ.9WRvuN7Ze4z9MnFolUbuV8zmoliwdzD9Cbd-Kfyfbeg
